* {
    margin: 0;
    padding: o;
    box-sizing: border-box;
}

body {
  font-size: 1.5rem;
}

.pm {
  margin: 2px;
  min-height: 100px;
}

header {
  display: flex;
}

.site-title {
  background: yellow;
  flex: 1;
}

nav {
  flex: 1;
}

ul {
  display: flex;
  list-style: none;
}

li {
  background: pink;
  flex: 1;
}

/*  main area */

main {
  display: flex;
}