* {
    margin: 0;
    padding: o;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
  font-size: 1.5rem;
  height: 100%;
}

.pm {
  margin: 2px;
  min-height: 100px;
}

header {
  display: flex;
}

.site-title {
  background: yellow;
  flex: 1;
}

nav {
  flex: 1;
}

ul {
  display: flex;
  list-style: none;
}

li {
  background: pink;
  flex: 1;
}

/* main area */

main {
  display: flex;
  height: 100%;
}

section {
    flex: 3;
}

.post-title {
    background:#6379b5 ;
}

.section-post-container {
    display: flex;
    height: 86.5%;
}

.post-meta {
    flex: 1;
    background: lightgreen;
}

.main-content-container {
    flex: 3;
    display: flex;
    flex-direction: column;
}

.main-content {
    background: lightgray;
    flex: 1;
}

.main-content-img {
    background: yellow;
    flex: 2;
}

/* aside */

aside {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: calc(100% - 104px);
}

aside div:first-child {
    background: orange;
    flex: 1;
}

aside div:nth-child(2) {
    background: green;
    flex: 1;
}

aside div:last-child {
    background: violet;
    flex: 1;
}

/* footer */ 

footer {
    background: brown;
}

@media (max-width: 768px) {
    main {
        flex-direction: column;
    }
    .section-post-container{
        flex-direction: column;
    }
}