* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    background: rgba(226, 157, 67, 0.819);
    width: 100vw;
    height: 400px;
    margin: 1rem;
    padding: 1rem;
}

.item {
    width: 200px;
    height: 200px;
    background: skyblue;
    border-radius: 5px;
    padding: 1rem;
}
    
.item1 {
    background: rgb(66, 133, 159);
    position: relative;
    z-index: 3;
}

.item2 {
    position: relative;
    top: -100px;
    left: 100px;
    z-index: 2; /* an element with a greater z-index will be displayed first*/
}

#section-b .item {
    position: fixed;
    top: 0;
    right: 0;
}

#section-c .item {
    position: absolute;
    right: 200px;
    bottom: 0;
}

#section-d {
    height: 2000px;
}

#section-d .item {
    position: sticky;
    top: 100px;
}