* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background: #b3b792;
    font-family: "Raleway", sans-serif;
}

a {
    text-decoration: none;
    color: #d2ab80;
}

a:hover {
    text-decoration: underline;
}

#logIn {
    color: white;
}

#logInP {
    margin-top: 20px;
    text-align: center;
}

.container {
    margin: 50px auto;
    width: 300px;
    
}

.form-wrap {
    background:white;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.free {
    margin-bottom: 20px;
}

.form-group {
    margin: 20px o;
}

.form-group label {
    display: block;
    text-align: left;
    font-size: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.form-group input {
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #a7a7a7;
}

.button {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    width: 80%;
    background: #d2ab80;
    color: white;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
}

.button:hover {
    background-color: #d8b48e;
}

.disclaimer {
    margin-bottom: 20px;
    font-size: 12px;
}