* {
    margin: 0;
    padding: o;
    box-sizing: border-box;
}

body {
    font-family: "Oswald", sans-serif;
}

header {
    display: flex;
    color: white;
    background: #333;
}

ul {
    display: flex;
    list-style-type: none;
}