/* ----- Reset the default margin, padding, and box-sizing properties for all HTML elements.
  By setting margin and padding to 0 and box-sizing to border-box, we ensure a consistent layout 
  and avoid unexpected spacing and sizing issues across different elements. ----- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 /* ------ Header -------*/

header {
    padding-top: 100px;
    background: transparent;
    text-align: center;
    position: relative; 
    z-index: 1;
    background-image: url('img_1.jpg'); 
    background-size: cover;
    background-position: center;
    color: #fff; 
    padding: 100px 0; 
    text-align: center;
}

nav ul {
    list-style-type: none;
    color: #f9ebc7;
}

header li {
    display: inline-block;
    color:#f9ebc7;;
} 

ul li a {  
    margin: 20px;
    color: #f9ebc7;
    text-decoration: none;
    display: block;
}


/* ------ Main -------*/

.img1 {
    max-width: 30%;
    
}

.img2 {
    max-width: 30%;
}

.img3 {
    max-width: 30%;
}


/* ------ Footer -------*/

footer {
    background-color: #333;
    color: #fff; 
    padding: 20px;
}

.footer-content {
    max-width: 1200px; 
    margin: 0 auto;
    text-align: center; 
}
