* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Playfair Display", serif;
    color: #333;
}

/* Header */
header {
    padding-top: 100px;
    background: transparent;
    text-align: center;
    position: relative; 
    z-index: 1;
    background-image: url('img_1.jpg'); 
    background-size: cover;
    background-position: center;
}

header h2 {
    padding-top: 50px;
    padding-bottom: 100px;
    color: #FEFAE0;
}


nav ul {
    list-style-type: none;
    color: #f9ebc7;
}

header li {
    display: inline-block;
    color:#f9ebc7;;
} 

ul li a {  
    margin: 0px;
    color: #f9ebc7;
    text-decoration: none;
    display: block;
}


header h1 {
    margin-bottom: 10px;
    color: #FEFAE0;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #f9ebc7;
}

/* Main */
main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

section h2 {
    font-size: 24px;
    font-weight: bold;
    color: #716d3e;
    margin-bottom: 10px;
    
}

.section2 {
    margin-top: 40px; 
    background-color: #b2a780;
    
}

.section3 {
    margin-top: 40px; 
    background-color: #797652;
    
}

.section2 .content {
    display: flex;
    flex-direction: row-reverse; 
    align-items: center;

    
}

.img2 {
    max-width: 200px;
}



.content {
    display: flex;
    align-items: center;
}

.content img {
    max-width: 200px;
    margin-right: 20px;
}

.content p {
    flex: 1;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h3 {
    margin-bottom: 10px;
    color: #FEFAE0;
}

.form label {
    display: block;
    margin-bottom: 5px;
    color: #f9ebc7;
    text-align: left;
    font-size: 14px;
}

.form input[type="text"],
.form textarea {
    width: 100%;
    padding: 7px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #868686;
}

.form {
    max-width: 300px;
    margin: 0 auto;
}

.button {
    background-color: #f9ebc7;
    color: #333;
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 50px;
}

.button:hover {
    background-color: #E4D7B8;
}


/* Sections with paragraphs and photos */

.section1, .section2, .section3 {
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.section1, .section3 {
    background-color: #FEFAE0;
}

.section1 h2, .section2 h2, .section3 h2 {
    font-size: 24px;
    font-weight: bold;
    color: #716d3e;
    margin-bottom: 20px;
}

.section1 .content, .section2 .content, .section3 .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section1 .content img, .section2 .content img, .section3 .content img {
    max-width: 200px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.section1 .content p, .section2 .content p, .section3 .content p {
    flex: 1;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
}

.section1 {
    margin-bottom: 40px; /* Add margin-bottom to create space between section 1 and section 2 */
}

