* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: bisque;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:  #333;
}

/* ------ Header Area -------*/

header {
    background: #333;
    background-image: url(mountain.avif);
}

nav ul {
    list-style-type: none;
}

header li {
    display: inline-block;
    color: white;
}

ul li a {  
    margin: 20px;
    color: white;
    text-decoration: none;
    display: block;
}

/* -------- Main Area --------*/

section {
    padding: 32px;
}

h1 {
    margin-bottom: 35px;
}


img {
    max-width: 30%;
}

/* ------- Table -------- */

table {
    border-collapse: collapse;
}

th {
    border-bottom: 3px solid white;
}

thead {
    font-weight: bolder;
    background-color: orange;
    color: white;
}

td, th {
    text-align: left;
    width: 200px;
    border: 1px solid white;
    padding: 15px;
}

.odd {
    background-color: rgb(219, 188, 150);
}